body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
}

h1
{

    color: steelblue;
    font-style: italic;
    text-transform: uppercase;
}

li{
    list-style-type: square;
}

li::marker
{
    color: orangered;
}